@import "tailwindcss";
html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  min-height: 100%;
  height: auto;
  width: 100%;
  
  overflow-x: hidden; 
  overflow-y: auto; 
}

body, .background {
  cursor: url("./assets/Catpaw Mouse icon.png"), auto;
}

.pixelated {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}